@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*{
    font-family: 'Poppins',arial,sans-serif;
}

.hero-text{
    font-size: 64px;
    font-weight: 700;
    line-height: 64px;
}